.App {
  text-align: center;
  font-family: 'Foldit', cursive;
  color: white;
}

h1 {
  font-size: 50px;
}

.Navbar {
  display: inline;
}

.footer {
  position: fixed;
  margin: auto;
  bottom: 10px;
  width:100%;
  display: flex;
  justify-content: center;
}

.color-mode {
  position: fixed;
  bottom: 10px;
  right: 50px;
  z-index: 9999;
}

.top {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
}