.App {
  text-align: center;
  font-family: 'Foldit', cursive;
  color: white;
}

h1 {
  font-size: 50px;
}

.Navbar {
  display: inline;
}

.footer {
  position: fixed;
  margin: auto;
  bottom: 0;
  width:100%;
  display: flex;
  justify-content: center;
}

.top {
  position: fixed;
  bottom: 50px;
}